body {
    font-family: "Helvetica", sans-serif;
    font-size:1em;
    overflow: hidden;;
}

#mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }

body.pink {
  background-color: magenta;
  margin: 0px
}

body.black {
  background-color: black;
  margin: 0px;
  color: magenta;
}

.thing {
  width: 300px;
  height: auto;
  margin-bottom: 10px
}

body.image {
  background-image: url("essaybg.png");
  background-color: ##ffe65d;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  margin: 0px
}

body.para {
  background-image: url("work/parachute.png");
  background-size: contain;;

  margin: 0px
}

div.wrapper {
  float:right;
  width: 60%;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}

div.textblock {
  text-align: right;
  width: 60%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 150px;
  padding-right: 150px;
  float:left;
}

a.block {
  display:block;
  text-align: center;
  text-decoration: none;
}

a.block:hover {
  background-color: yellow;
}

p.halfacross {
  width: 50%;
  padding-left: 50%;
}

.banner {
  width: 100%;
  height: 12%;
  background-image: url("title.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.cv {
  width:20%;
  height:8%;
  background-image: url("cv.png");
  background-position: left;
  background-size: contain;
  float: right;
  background-repeat: no-repeat;
}

.bandcamp {
  width:33%;
  height:8%;
  background-image: url("buymusic.png");
  background-position: left;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  float: right;
}

.writing {
  width:33%;
  height:8%;
  background-image: url("writing.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
}

.works {
  width:33%;
  height:8%;
  background-image: url("work.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
}

.insta {
  width:33%;
  height:8%;
  background-image: url("insta.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  float:left;
}

.twitter {
  width:33%;
  height:8%;
  background-image: url("twitter.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  float:left;
}

.email {
  width:20%;
  height:8%;
  background-image: url("email.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  float:right;
}

.audio {
  width:33%;
  height:8%;
  background-image: url("audio.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.video {
  width:33%;
  height:8%;
  background-image: url("video.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.tailbend {
    width:100px;
    height:100px;
    background-image: url("/tailbend/logo.png");
    background-size: cover;
    position: absolute;
    left: 100px;
    top: 150px;
}

.seasong {
  width: 60vmin;
  height: 20vmin;
  background-image: url("/work/seasong.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.sunsetsinging {
  width: 40vmin;
  height: 20vmin;
  background-image: url("/work/sunsetsinging.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.oyropeandream {
  width: 20vmin;
  height: 40vmin;
  background-image: url("/work/oyropeandream.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.daughter2 {
  width: 60vmin;
  height: 20vmin;
  background-image: url("/work/daughter2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.between {
  width: 20vmin;
  height: 80vmin;
  background-image: url("/work/between.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.mud {
  width: 40vmin;
  height: 20vmin;
  background-image: url("/work/mud.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.londonbridge {
  width: 20vmin;
  height: 20vmin;
  background-image: url("/work/londonbridge.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.planes {
  width: 40vmin;
  height: 32vmin;
  background-image: url("/work/planes.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}
.canonbury {
  width: 20vmin;
  height: 15vmin;
  background-image: url("/work/canonburysquare.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.beckroad {
  width: 40vmin;
  height: 40vmin;
  background-image: url("/work/beckroad.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;

}

.daughter {
  width: 40vmin;
  height: 24vmin;
  background-image: url("/work/daughter.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.guitar {
  width: 40vmin;
  height: 55vmin;
  background-image: url("/work/guitar.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.oldwivestales {
  width: 20vmin;
  height: 28vmin;
  background-image: url("/work/oldwivestales.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.parachute {
  width: 40vmin;
  height: 40vmin;
  background-image: url("/work/parachute.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.theelephant {
  width: 20vmin;
  height: 35vmin;
  background-image: url("/work/theelephant.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.twoartists {
  width: 60vmin;
  height: 70vmin;
  background-image: url("/work/twoartists.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.wardrobe {
  width: 40vmin;
  height: 50vmin;
  background-image: url("/work/wardrobe.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.tapecharmer {
  width: 20vmin;
  height: 20vmin;
  background-image: url("/work/tapecharmer.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.organdance {
  width: 60vmin;
  height: 35vmin;
  background-image: url("/work/organdance.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.greatgreentour {
  width: 40vmin;
  height: 40vmin;
  background-image: url("/work/greatgreentour.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.blue {
  width: 20vmin;
  height: 30vmin;
  background-image: url("/work/blue.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

h2 {
  text-align: left;
  font-size:1em;
}

table {
  width: 95%;
  text-decoration: none;
}

tr td {
  vertical-align: top;
  padding-bottom: 3px;
  padding-left: 5px;
}

td:nth-child(1) {
  text-align: right;
}

div.workContainer {
  width: 100vmin;
  margin-left: auto;
  margin-right: auto;
}

div.imagegrid {
  width: 98vw;
  margin-left: auto;
  margin-right: auto;

}

@media screen and (max-width: 950px) {
  div.wrapper{
    width: 80%;
    margin-left: 0px;
  }
  .works .bandcamp {
    height: 10%;
  }
  div.textblock {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ffe65d;
  }
}

@media screen and (max-width: 700px) {
  div.wrapper{
    width: 90%;
    margin-left: 0;
  }
  .works .bandcamp {
    height: 8%;
  }
  div.textblock {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffe65d;
  }
}
