body {
    font-family: "Helvetica Neue", sans-serif;
    font-size:1em;
    background: linear-gradient(#21ecff, #4fa5dd);
    margin: 0em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.menucolumn {
  float:left;
  width: 30%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  margin-top: 0;
  height: 100%;
  box-sizing:border-box;
}

div.content {
  float:left;
  width: 65%;
  padding-left: 1em;
  padding-top: 0em;
  margin-top: 0;
  margin-right: 1em;
  box-sizing:border-box;
}

h1 {
  font-size: 2.3em;
  text-shadow: 3px 2px rgba(255,0,255,0.8);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: cyan;
  font-variant: small-caps;
  font-size: 1.7em;
  margin-top: 0.5em;
  margin-bottom:0.5em;
  margin-left: 0;
}

h3 {
  text-decoration: line-through;
  text-decoration-color: yellow;
  text-decoration-style: wavy;
  letter-spacing: 3px;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom:0.5em;
  margin-left: 0;
}

h4 {
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: magenta;
  text-decoration-style: dotted;
  font-size: 1.8em;
  font-weight: normal;
  margin-top: 0em;
  margin-bottom:0.5em;
  margin-left: 0;
}

h5 {
  text-transform: lowercase;
  font-size: 1.3em;
  letter-spacing: 0.2em;
  margin-top: 0.5em;
  margin-bottom:0.5em;
  margin-left: 0;
  text-shadow: 0.1em 0.1em white;
}

h6 {
  text-transform: uppercase;
  font-size: 3em;
  font-style: italic;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0;
  letter-spacing: -0.1em;
  text-shadow: -2em 0em cyan, -1em -0em cyan;
}

span.hl {
  background-color: rgba(255, 255, 0, 0.7);
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  background-color: rgba(255, 255, 0, 0.7);
  color: black;
}

.menuItem {
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  margin: 0.3em;
  padding-left: 0.3em;
}

a.menuItem:hover {
  color: inherit;
  text-decoration: line-through;
  text-decoration-color: yellow;
  text-decoration-style: wavy;
  background-color: inherit;
}

img {
  display: block;
  float: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  margin-left: 0;
  box-sizing: border-box;
}

img.full {
  width: 100%;
  margin-right: 0;
}

div.box {
  background-color: rgba(255,255,255,0.5);
  border-width: 3px;
  border-style: solid;
  border-color: cyan;
  float: left;
  padding: 0.5em;
  margin: 1em;
}

div.poem {
  float: left;
  padding: 0.5em;
  margin: 1em;
  max-width: 30em;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px rgba(255,0,255,0.5), -1px -1px rgba(255,0,255,0.5), -1px 1px rgba(255,0,255,0.5), 1px -1px rgba(255,0,255,0.5);
}

@media screen and (max-width: 950px) {
  div.menucolumn {
    float:left;
    width: 100%;
    padding: 0.5em;
    margin-top: 0;
    height: auto;
  }

  div.content {
    float:left;
    width: 100%;
    margin-left: 0;
    margin-top: 0.5em;
    padding: 0.5em;
  }

  #spacer {
    display: none;
  }
}
