body {
    font-family: "Courier New", Courier, monospace;
    font-size:1em;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

div {
  background-color: white;
}

div.left {
  float: left;
  width: 34%;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.logo {
  background-color:rgba(0, 0, 0, 0);
  width: 30vw;
  height: 30vw;
  margin: auto;
  background-size: contain;
  background-image: url(logo.png);
  background-position: center;
}

div.navigation {
  width: 30vw;
  border-style: dashed;
  border-width: 4px;
  border-color: #bf135d;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2em;
}

div.middle {
  float: left;
  width: 33%;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.right {
  float: left;
  width: 33%;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.floralbg {
  background-image: url("floral.png");
  background-size: 10em;
  background-repeat: repeat;
  background-position: center;
}

.burgundy {
  background-color: #bf135d;
  background: -webkit-linear-gradient(180deg, #82001c, #bf135d, #e851ca); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #82001c, #bf135d, #e851ca); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #82001c, #bf135d, #e851ca); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #82001c, #bf135d, #e851ca); /* Standard syntax */
}

.yellow {
  background-color: #ffd800;
  background: repeating-linear-gradient(
    45deg,
    #ffd800,
    #ffd800 10px,
    #ffbf00 10px,
    #ffbf00 12px
  );
}

.border {
  border-style: dotted;
  border-width: 5px;
  border-color: black;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
    font-family: Georgia, serif;
}

.image {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 40%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;

  background-color: rgba(0,0,0,0);
}

h1 {
  font-family: Georgia, serif;
  text-align: right;
  text-shadow: 3px 2px rgba(255,0,255,100);
}

h2 {
  background-color: yellow;
  margin: 0.2em;
}

h3 {
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: line-through;
  text-decoration-color: yellow;
  text-decoration-style: wavy;
  letter-spacing: 3px;
}

h4 {
  text-decoration: underline;
  text-decoration-color: #ffc1ff;
  text-decoration-style: dotted;
  text-align: right;
}


lh {
  font-weight: bold;
}

@media only screen
and (max-width : 1000px) {
  body {
    font-size:0.8em;
  }
}

/* Smartphones (portrait) */
@media only screen
and (max-width : 650px) {
  body {
    font-size:0.7em;
  }

  div.left {
    float: left;
    width: 100%;
    height: 180px;
    padding: 1%;
  }

  div.middle {
    float: left;
    width: 50%;
    height: 78%;
    padding: 1%;
  }

  div.right {
    float: left;
    width: 50%;
    height: 78%;
    padding: 1%;
  }

  div.logo {
    width: 170px;
    height: 170px;
    margin-right: 1em;
    margin-left: 1em;
    float:left;
  }

  div.navigation {
    font-size: 0.72em;
    width: 195px;
    width: calc(100%-180px);
    height: 170px;
    float:left;
    margin-top: 0;
    overflow-y:auto;
  }
}
